/* Display settings to show one page at a time */
.show {
  display: block;
  padding-left: 400px;
  padding-right: 400px;
  text-align: left;
}

.hide {
  display: none;
}

/* Background color */
body {
  padding: 0px;
  background-color: slateblue;
}

/* Main title text on page */
h1 {
  text-align: left;
  font-size: 60px;
  margin: 10px;
}

/* Enlarge paragraph text on page0 */
#page0instructions {
  font-size: 25px;
  margin: 20px;
}

/* Enlarge button text and add color */
button {
  display: block;
  font-size: large;
  padding: 10px;
  background-color: lightsteelblue;
  border-color: lightsteelblue;
}

#startBtn {
  font-size: large;
  padding: 10px;
  background-color: lightsteelblue;
  border-color: lightsteelblue;
}
.centerBtn {
  padding-left: 250px;
}

/* Make correct and wrong popup messages larger */
#correct {
  font-size: 40px;
  text-align: left;
  color: rgb(84, 149, 84);
}

#wrong {
  font-size: 40px;
  text-align: left;
  color: rgb(197, 105, 105);
}

/* Make countdown number bigger and in a more visible color*/
#countdown {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 50px;
}

.fieldAligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page7 h1 {
  text-align: center;
  font-size: 60px;
  margin: 10px;
}

#page7 h2 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
}

#page7 h3 {
  font-size: 40px;
  text-align: center;
  margin: -3px 5px 0 0;
}

#submit {
  display: inline-block;
  margin-left: 12px;
}

#saveInitials {
  height: 40px;
  width: 83px;
  font-size: 37px;
  font-family: fantasy;
  text-align: center;
}

/* Content container
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
} */

/* html,
body {
  height: 100%;
  width: 100%;
} */

/* Page header box */
/* header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
} */

/* Margin and Padding to space out items on page
body * {
  margin: 5px;
  padding: 5px;
} */
